<header [class.menu-visible]="isScrolled">
  <nav>
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>

<div id="home" [class.scrolled]="isScrolled">
  <div class="intro-container">
    <h1>Hi, I’m Guille</h1>
    <p>I’m a Web Developer</p>
    <p class="sub-text">Creating beautiful and functional web experiences.</p>
  </div>
</div>

<section id="about" class="section">
  <h2>About Me</h2>
  <p>This section contains information about me and my background.</p>
</section>
<section id="skills" class="section">
  <h2>Skills</h2>
  <p>This section lists my skills and expertise.</p>
</section>
<section id="projects" class="section">
  <h2>Projects</h2>
  <p>This section showcases my projects and achievements.</p>
</section>
<section id="contact" class="section">
  <h2>Contact</h2>
  <p>This section contains my contact information.</p>
</section>
