<div class="works-container">
    <h3 class="work">WORK</h3>
    <h3 class="details">DETAILS</h3>
    <div class="work-category current">
      <h3 class="masterd">Master D</h3>
      <p class="current-title">Current</p>
      <p class="current-expl">Dynamic Full Stack Software Developer</p>
    </div>
  <!--
    <div class="work-category year-2022">
      <h3>2022</h3>

    </div >
  
    <div class="work-category year-2021">
      <h3>2021</h3>

    </div>
  
    <div class="work-category year-2019">
      <h3>2019</h3>

    </div-->
  </div>
