<div class="works-container">
    <h3 class="work">WORK</h3>
    <h3 class="details">DETAILS</h3>

    <div class="work-category current">
      <h3 class="masterd">Master D</h3>
      <p class="current-title">Current</p>
      <p class="current-expl">Dynamic Full Stack Software Developer</p>
    </div>
  
    <div class="work-category year-2022">
      <h3 class="teltronic">Teltronic</h3>
      <p class="p2022-title">2022</p>
      <p class="p2022-expl">Hardware Technician for Tetra Systems</p>

    </div >

    <div class="work-category year-2021">
      <h3 class="masteraudio">Masteraudio</h3>
      <p class="p2021-title">2021</p>
      <p class="p2021-expl">Hardware Technician for Electronic and Music Systems</p>

    </div>
    <!--
    <div class="work-category year-2019">
      <h3>2019</h3>

    </div-->
  </div>
